<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.prd.prc.dao.PrcMapper">
	<select id="lineList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select line_no from fct_line
	</select>
	<select id="lineStartCheck" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select instr_no from prd_prc_mng where instr_no= #{instrNo}
	</select>
	<select id="lineEndCheck" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select sum(nvl2(work_fin_dt,1,0)) as prcEndNull from prd_prc_mng where instr_no= #{instrNo}
	</select>
	<select id="prcList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select distinct prc_cd,prc_seq
		from adm_prd a join adm_prc_flow b
		on a.prd_cd = b.prd_cd
		where a.able_line_no like '%'||#{lineNo}||'%'
		order by prc_seq
	</select>
	<select id="prdPrcList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select p.instr_no, p.work_str_time,p.work_str_date,p.goalCnt goalCnt, p.prc_seq
		from pdt_work_instr a join (select p.instr_no, p.work_str_time,p.work_str_date,p.pdt_cnt goalCnt, f.prc_seq
				from pdt_work_instr_dtl p, 
				    (select a.prd_cd, a.prd_nm, a.prd_std, a.mng_unit, a.prd_sect, a.able_line_no, a.use_yn,    b.prc_cd, b.prc_seq, b.work_cmt, b.std_load, b.unit_cost, b.lead_time
				     from adm_prd a join adm_prc_flow b
				     on a.prd_cd = b.prd_cd 
				     where a.able_line_no like '%'||#{lineNo}||'%' and b.prc_cd=#{prcCd}) f
				where p.prd_cd = f.prd_cd
				and to_date(p.work_str_date,'yyyy-MM-dd')=to_date(sysdate,'yyyy-MM-dd')
		        AND p.line_no=#{lineNo}
				and p.prc_cd=#{prcCd}
				order by p.work_str_time) p
		on a.instr_no = p.instr_no
		where a.now_phs='N'
		order by 1
	</select>
	<select id="prcFlowMinMax" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select *
		from (select * from pdt_work_instr_dtl
   		where instr_no=#{instrNo} ) a 
     	join(select *
		        from adm_prc_flow
		        where prd_cd=(select prd_cd
		                        from pdt_work_instr_dtl
		                        where instr_no=#{instrNo} and prc_cd=#{prcCd})) b
 		on(a.prc_Cd=b.prc_cd AND a.prd_cd=b.prd_cd)                        
	</select>
	<select id="myPrcFlow" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select *
		from (select * from pdt_work_instr_dtl
   		where instr_no=#{instrNo} and prc_cd=#{prcCd} ) a 
     	join(select *
		        from adm_prc_flow
		        where prd_cd=(select prd_cd
		                        from pdt_work_instr_dtl
		                        where instr_no=#{instrNo} and prc_cd=#{prcCd})) b
 		on(a.prc_Cd=b.prc_cd AND a.prd_cd=b.prd_cd)                        
	</select>
	<insert id="defaultInsert">
		insert into prd_prc_mng (instr_no , line_no ,prc_cd , goal_cnt) values (#{instrNo},#{lineNo},#{prcCd},#{pdtCnt})
	</insert>
	<update id="startUpdate">
		update prd_prc_mng set
		work_str_dt=sysdate ,
		now_phs='가동중'
		where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	<select id="startTimeSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select work_str_dt ,now_phs from prd_prc_mng where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</select>
	<select id="flowCheck" resultType="Integer">
		select count(work_str_dt) from prd_prc_mng
		where work_str_dt is not null
		group by instr_no
		having instr_no=#{instrNo}
	</select>
	
	<update id="endUpdate">
		update prd_prc_mng set
		work_fin_dt=sysdate ,
		now_phs=#{msg},
		goal_cnt=#{goalCnt},
		pdt_cnt=#{pdtCnt},
		flt_cnt=#{fltCnt}
		where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd like '%'||#{prcCd}||'%'
	</update>
	<select id="endTimeSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select work_fin_dt ,now_phs from prd_prc_mng where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</select>
	<select id="endFlowCheck" resultType="Integer">
		select count(work_fin_dt) from prd_prc_mng
		where work_fin_dt is not null
		group by instr_no
		having instr_no=#{instrNo}
	</select>
	<select id="sectSelect" resultType="string">
		select prd_sect 
		from adm_prd 
		where prd_cd=(select prd_Cd from pdt_work_instr_dtl
					 WHERE instr_no=#{instrNo}   and line_no=#{lineNo}  and prc_cd=#{prcCd})	
	</select>
	<insert id="prdInsert">
		insert into pdt_cmpt_prd_stck (PRD_LOT,PRD_CD,STCK_CNT) values (PKG_MAKE_CODE.CODE('PRD','PDT_CMPT_PRD_STCK','PRD_LOT'),
					(select prd_Cd from pdt_work_instr_dtl
					 WHERE instr_no=#{instrNo}   and line_no=#{lineNo}  and prc_cd=#{prcCd}),#{pdtCnt})
	</insert>
	<insert id="hrdInsert">
		insert into mtr_lot_stck (MTR_LOT,MTR_CD,STCK_CNT,HLD_CNT) values(PKG_MAKE_CODE.CODE('HRD','MTR_LOT_STCK','MTR_LOT'),(select prd_Cd from pdt_work_instr_dtl
					 WHERE instr_no=#{instrNo} and line_no=#{lineNo}  and prc_cd=#{prcCd}),#{pdtCnt},0)
	</insert>
	<update id="updateFlt"><!--생산량 , 불량량  -->
		update prd_prc_mng set flt_cnt = #{fltCnt} where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	<select id="realFlt" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select now_phs,work_str_dt,instr_no,nvl(flt_cnt,0) fltCnt,prc_cd,nvl(pdt_cnt,0) pdt_cnt ,nvl((select sum(flt_cnt) 
                                    from prd_prc_mng
                                    where instr_no=#{instrNo}
                                    group by instr_no),0) as sumFlt
		from prd_prc_mng
		where prc_cd=#{prcCd} AND instr_no=#{instrNo}
	</select>
	<select id="insertLotSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select PKG_MAKE_CODE.CODE('PRD','PDT_CMPT_PRD_STCK','PRD_LOT') as prdLot from dual
	</select>
	<select id="insertHrdLotSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select PKG_MAKE_CODE.CODE('HRD','MTR_LOT_STCK','MTR_LOT') as prdLot from dual
	</select>
	<insert id='fastStop'>
		insert into msg_alt (msg_no , alt_send_dt, alt_send_dept , alt_recp_dept , alt_cmt)
		values ( PKG_MAKE_CODE.CODE('MSG','MTR_LOT_STCK','MTR_LOT') , sysdate , '수리부서' , 'PDT'||','||#{lineNo}||','||#{prcCd} , '공정설비 고장낫어요 빨리와주세요.')
	</insert>
	<update id="fastStopUpdate">
		update prd_prc_mng set
		work_str_dt=sysdate ,
		now_phs='긴급중단'
		where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	
	<update id="planPhsUpdate">
		update pdt_work_instr set
		now_phs='Y'
		where instr_no=#{instrNo}
	</update>
	<select id="usedlotFind" resultType="com.onetouch.web.pdt.work.dao.WorkVO">
			select * from used_mtr_lot where instr_no like '%PWO%'
		 	<if test='instrNo!="" and instrNo!=null'>
				and instr_no=#{instrNo}
			</if> 
		 	<if test='mtrLot!="" and mtrLot!=null'>
				and mtr_lot=#{mtrLot}
			</if> 
		  
	</select>
	<select id="prcMovingView" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select instr_No , line_No , prc_Cd , to_char(work_Str_Dt,'yyyy-MM-dd') work_str_dt ,to_char(work_Fin_Dt,'yyyy-MM-dd') work_fin_dt , goal_Cnt ,pdt_cnt , flt_cnt ,now_phs , prd_lot
		from prd_prc_mng where instr_no=#{instrNo} AND line_no = #{lineNo}	
	</select>
	<select id="updateCheck" resultType="_int">
		select (to_number(sum(nvl2(work_fin_dt,1,0)))+to_number(sum(nvl2(work_str_dt,1,0)))+to_number(sum(nvl(flt_cnt,0)))+to_number(sum(nvl2(now_phs,1,0)))+to_number(sum(nvl(pdt_cnt,0)))) as upCheck from prd_prc_mng
	</select>
	<select id="movingSearchListFinish" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select a.instr_no ,  a.line_no , a.work_str_dt , a.work_fin_dt , a.goal_cnt, a.pdt_cnt
		from (select distinct a.instr_no , a.line_no , to_char(b.work_str_dt,'yyyy-MM-dd') work_str_dt, to_char(b.work_fin_dt,'yyyy-MM-dd') work_fin_dt, b.goal_cnt , (select min(pdt_cnt)
                                                                                                                                                                    from prd_prc_mng
                                                                                                                                                                    where instr_no=a.instr_no) as pdt_cnt 
		from used_mtr_lot a join prd_prc_mng b
		on a.instr_no = b.instr_no
		where 1=1
		and a.instr_no like '%PWO%' 
	 	<if test='mtrLot!="" and mtrLot!=null'>
			and mtr_lot=#{mtrLot}
		</if> 
		) a join pdt_work_instr b
		on a.instr_no = b.instr_no
		where b.now_phs='Y'
	 	<if test='startDate!="" and startDate!="null"'>
			and work_str_dt>#{startDate}
		</if>
	 	<if test='endDate!="" and endDate!="null"'>
			and #{endDate}>work_str_dt
		</if>  

	</select>
	<select id="movingSearchList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select distinct b.line_no , b.instr_no ,b.work_str_dt , b.goal_cnt , b.now_phs
		from used_mtr_lot a join 
								(select line_no , instr_no ,work_str_dt , goal_cnt , now_phs
								from( select distinct b.line_no , a.instr_no , to_char(a.instr_date,'yyyy-MM-dd') work_str_dt , b.instr_cnt goal_cnt, a.now_phs
										from pdt_work_instr a join pdt_work_instr_dtl b
										on a.instr_no = b.instr_no
								        where a.now_phs='N')) b
		on a.instr_no = b.instr_no
		where 1=1
	 	<if test='startDate!="" and startDate!="null"'>
			and b.work_str_dt>#{startDate}
		</if>
	 	<if test='endDate!="" and endDate!="null"'>
			and #{endDate}>b.work_str_dt
		</if>
	 	<if test='mtrLot!="" and mtrLot!=null'>
			and a.mtr_lot=#{mtrLot}
		</if>   
		order by b.work_str_dt
	</select>
	
	<select id="prcFlowCount" resultType="integer">
		select count(instr_no) 
		from prd_prc_mng
		where instr_no=#{instrNo}
	</select>
	<select id="prcPlayCount" resultType="integer">
		select count(now_phs) 
	from prd_prc_mng
	where now_phs like '%가동종료%'
	</select>
	<select id="autoSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select line_no , prc_cd ,instr_no ,nvl(pdt_cnt,0) pdt_cnt,(nvl(goal_cnt,0)-nvl(flt_cnt,0)) goalCnt from prd_prc_mng
		where now_phs='가동중'
	</select>
	<select id="uphFind" resultType="integer">
		select trunc(((a.uph_pdt_amt)/60/6),3)
		from fct_line a join fct_info b
		on a.line_no = b.line_no
		where a.line_no=#{lineNo}
		and b.prc_cd=#{prcCd}
		order by a.line_no
	</select>
	<update id="autoUpdate">
		update prd_prc_mng set pdt_cnt=#{pdtCnt} where instr_no = #{instrNo} and prc_cd=#{prcCd}
	</update>	
	
	
	<select id="playStartInstr" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select distinct instr_no
		from prd_prc_mng
		where to_date(work_str_dt,'yyyy-MM-dd') = to_date(sysdate,'yyyy-MM-dd')
	</select>
	
	<select id="liveInstr" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select a.prc_seq,b.line_no , a.prc_cd , b.goal_cnt , b.pdt_cnt , nvl(b.flt_cnt,0) as fltCnt , b.now_phs
		from(select prc_seq , prc_cd
		        from adm_prc_flow
		        where prd_Cd = (select distinct prd_cd
		                        from pdt_work_instr_dtl
		                        where instr_no=#{instrNo} ) ) a join (select *
		                                                            from prd_prc_mng
		                                                            where to_date(work_str_dt,'yyyy-MM-dd') = to_date(sysdate,'yyyy-MM-dd')
		                                                            and instr_no=#{instrNo}) b
		on a.prc_cd=b.prc_cd
		order by 1
		
	</select>
	<select id="playingPrcFind" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select * from prd_prc_mng
		where to_char(work_str_dt,'yyyy-MM-dd') = to_char(sysdate , 'yyyy-MM-dd')
		and line_no =#{lineNo}
		and instr_no !=#{instrNo}
		and prc_cd = #{prcCd}
		and now_phs = '가동중'
	</select>
</mapper>