<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.prd.prc.dao.PrcMapper">
	<select id="lineList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select line_no from fct_line
	</select>
	<select id="lineStartCheck" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select * from prd_prc_mng where instr_no= #{instrNo}
	</select>
	<select id="prcList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select *
		from adm_prd a join adm_prc_flow b
		on a.prd_cd = b.prd_cd 
		where a.able_line_no like '%'||#{lineNo}||'%'
	</select>
	<select id="prdPrcList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select p.instr_no, p.work_str_time, p.pdt_cnt, f.prc_seq
		from pdt_work_instr_dtl p, 
		    (select a.prd_cd, a.prd_nm, a.prd_std, a.mng_unit, a.prd_sect, a.able_line_no, a.use_yn,    b.prc_cd, b.prc_seq, b.work_cmt, b.std_load, b.unit_cost, b.lead_time
		     from adm_prd a join adm_prc_flow b
		     on a.prd_cd = b.prd_cd 
		     where a.able_line_no like '%'||#{lineNo}||'%' and b.prc_cd=#{prcCd}) f
		where p.prd_cd = f.prd_cd
		AND p.line_no=#{lineNo}
		and p.prc_cd=#{prcCd}
		order by p.work_str_time
	</select>
	<select id="prcFlowMinMax" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select *
		from (select * from pdt_work_instr_dtl
   		where instr_no=#{instrNo} ) a 
     	join(select *
		        from adm_prc_flow
		        where prd_cd=(select prd_cd
		                        from pdt_work_instr_dtl
		                        where instr_no=#{instrNo} and prc_cd=#{prcCd})) b
 		on(a.prc_Cd=b.prc_cd AND a.prd_cd=b.prd_cd)                        
	</select>
	<select id="myPrcFlow" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select *
		from (select * from pdt_work_instr_dtl
   		where instr_no=#{instrNo} and prc_cd=#{prcCd} ) a 
     	join(select *
		        from adm_prc_flow
		        where prd_cd=(select prd_cd
		                        from pdt_work_instr_dtl
		                        where instr_no=#{instrNo} and prc_cd=#{prcCd})) b
 		on(a.prc_Cd=b.prc_cd AND a.prd_cd=b.prd_cd)                        
	</select>
	<insert id="defaultInsert">
		insert into prd_prc_mng (instr_no , line_no ,prc_cd) values (#{instrNo},#{lineNo},#{prcCd})
	</insert>
	<update id="startUpdate">
		update prd_prc_mng set
		work_str_dt=sysdate ,
		now_phs='가동중'
		where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	<select id="startTimeSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select work_str_dt from prd_prc_mng where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</select>
	<select id="flowCheck" resultType="Integer">
		select count(work_str_dt) from prd_prc_mng
		where work_str_dt is not null
		group by instr_no
		having instr_no=#{instrNo}
	</select>
</mapper>