<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.prd.prc.dao.PrcMapper">
	<select id="lineList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select line_no from fct_line
	</select>
	<select id="lineStartCheck" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select instr_no from prd_prc_mng where instr_no= #{instrNo}
	</select>
	<select id="lineEndCheck" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select sum(nvl2(work_fin_dt,1,0)) as prcEndNull from prd_prc_mng where instr_no= #{instrNo}
	</select>
	<select id="prcList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
			select distinct prc_cd,prc_seq
		from adm_prd a join adm_prc_flow b
		on a.prd_cd = b.prd_cd
		where a.able_line_no like '%'||#{lineNo}||'%'
	</select>
	<select id="prdPrcList" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select p.instr_no, p.work_str_time, p.pdt_cnt, f.prc_seq
		from pdt_work_instr_dtl p, 
		    (select a.prd_cd, a.prd_nm, a.prd_std, a.mng_unit, a.prd_sect, a.able_line_no, a.use_yn,    b.prc_cd, b.prc_seq, b.work_cmt, b.std_load, b.unit_cost, b.lead_time
		     from adm_prd a join adm_prc_flow b
		     on a.prd_cd = b.prd_cd 
		     where a.able_line_no like '%'||#{lineNo}||'%' and b.prc_cd=#{prcCd}) f
		where p.prd_cd = f.prd_cd
		AND p.line_no=#{lineNo}
		and p.prc_cd=#{prcCd}
		order by p.work_str_time
	</select>
	<select id="prcFlowMinMax" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select *
		from (select * from pdt_work_instr_dtl
   		where instr_no=#{instrNo} ) a 
     	join(select *
		        from adm_prc_flow
		        where prd_cd=(select prd_cd
		                        from pdt_work_instr_dtl
		                        where instr_no=#{instrNo} and prc_cd=#{prcCd})) b
 		on(a.prc_Cd=b.prc_cd AND a.prd_cd=b.prd_cd)                        
	</select>
	<select id="myPrcFlow" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select *
		from (select * from pdt_work_instr_dtl
   		where instr_no=#{instrNo} and prc_cd=#{prcCd} ) a 
     	join(select *
		        from adm_prc_flow
		        where prd_cd=(select prd_cd
		                        from pdt_work_instr_dtl
		                        where instr_no=#{instrNo} and prc_cd=#{prcCd})) b
 		on(a.prc_Cd=b.prc_cd AND a.prd_cd=b.prd_cd)                        
	</select>
	<insert id="defaultInsert">
		insert into prd_prc_mng (instr_no , line_no ,prc_cd) values (#{instrNo},#{lineNo},#{prcCd})
	</insert>
	<update id="startUpdate">
		update prd_prc_mng set
		work_str_dt=sysdate ,
		now_phs='가동중'
		where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	<select id="startTimeSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select work_str_dt ,now_phs from prd_prc_mng where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</select>
	<select id="flowCheck" resultType="Integer">
		select count(work_str_dt) from prd_prc_mng
		where work_str_dt is not null
		group by instr_no
		having instr_no=#{instrNo}
	</select>
	
	<update id="endUpdate">
		update prd_prc_mng set
		work_fin_dt=sysdate ,
		now_phs='가동종료'
		where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	<select id="endTimeSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select work_fin_dt ,now_phs from prd_prc_mng where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</select>
	<select id="endFlowCheck" resultType="Integer">
		select count(work_fin_dt) from prd_prc_mng
		where work_fin_dt is not null
		group by instr_no
		having instr_no=#{instrNo}
	</select>
	<select id="sectSelect" resultType="string">
		select prd_sect 
		from adm_prd 
		where prd_cd=(select prd_Cd from pdt_work_instr_dtl
					 WHERE instr_no=#{instrNo}   and line_no=#{lineNo}  and prc_cd=#{prcCd})	
	</select>
	<insert id="prdInsert">
		insert into pdt_cmpt_prd_stck (PRD_LOT,PRD_CD,STCK_CNT) values (PKG_MAKE_CODE.CODE('PRD','PDT_CMPT_PRD_STCK','PRD_LOT'),
					(select prd_Cd from pdt_work_instr_dtl
					 WHERE instr_no=#{instrNo}   and line_no=#{lineNo}  and prc_cd=#{prcCd}),#{pdtCnt})
	</insert>
	<insert id="hrdInsert">
		insert into mtr_lot_stck (MTR_LOT,MTR_CD,STCK_CNT) values(PKG_MAKE_CODE.CODE('HRD','MTR_LOT_STCK','MTR_LOT'),#{prdCd},#{pdtCnt})
	</insert>
	<update id="updateFlt"><!--생산량 , 불량량  -->
		update prd_prc_mng set flt_cnt = #{fltCnt} where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	<select id="realFlt" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select instr_no,flt_cnt,prc_cd ,nvl((select sum(flt_cnt) 
                                    from prd_prc_mng
                                    group by instr_no),0) as sumFlt
		from prd_prc_mng
		where prc_cd=#{prcCd} AND instr_no=#{instrNo}
	</select>
	<select id="insertLotSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select PKG_MAKE_CODE.CODE('PRD','PDT_CMPT_PRD_STCK','PRD_LOT') as prdLot from dual
	</select>
	<select id="insertHrdLotSelect" resultType="com.onetouch.web.prd.prc.dao.PrcVO">
		select PKG_MAKE_CODE.CODE('HRD','MTR_LOT_STCK','MTR_LOT') as prdLot from dual
	</select>
	<insert id='fastStop'>
		insert into msg_alt (msg_no , alt_send_dt, alt_send_dept , alt_recp_dept , alt_cmt)
		values ( PKG_MAKE_CODE.CODE('MSG','MTR_LOT_STCK','MTR_LOT') , sysdate , '수리부서' , 'PDT'||','||#{lineNo}||','||#{prcCd} , '공정설비 고장낫어요 빨리와주세요.')
	</insert>
	<update id="fastStopUpdate">
		update prd_prc_mng set
		work_str_dt=sysdate ,
		now_phs='긴급중단'
		where instr_no=#{instrNo} AND line_no=#{lineNo} And prc_cd=#{prcCd}
	</update>
	
	<update id="planPhsUpdate">
		update pdt_work_instr set
		now_phs='Y'
		where instr_no=#{instrNo}
	</update>
</mapper>