<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.fct.info.dao.InfoMapper">
<!-- 작성자 : 박종현 -->



<!-- 공정관리VO를 상속받는 설비VO를 리절트 타입으로  -->
<select id="selectprcCd" resultType="com.onetouch.web.fct.info.dao.InfoVO">
select * from fct_info where line_no = #{lineNo}
</select>

<!-- 등록 목록조회 -->
<select id="selectFctInfoAll" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	select * from fct_info 
	where 1=1
		<if test='checkPrcCd != "d" and checkPrcCd != null'>
			and prc_cd = #{checkPrcCd}
		</if>
</select>



<!-- 단건조회 -->
<select id="selectFctInfo" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	select * from fct_Info where fct_cd = #{fct_cd}
</select>
<!-- 등록 -->
<insert id="insertFctInfo">
	Insert into FCT_INFO (    FCT_CD
							 ,PRC_CD
							 ,FCT_STD
							 ,FCT_MODEL
							 ,COMP_CD
							 ,IN_DATE
							 ,PURCH_COST
							 ,CHK_PROD
							 ,FCT_IMG
							 ,UPH_PDT_AMT
							 ,USE_YN
							 ,EMP_NO) 
	values (#{fctCd},#{prcCd},#{fctStd},#{fctModel},#{compCd},#{inDate},#{purchCost},#{chkProd},#{FctImg},#{uphPdtAmt},
	<if test = "useYn ==null">
		'N'
	</if>
	<if test = "useYn =='on'">
		'Y'
	</if>
	,#{empNo})
</insert>
<!-- 수정 -->
<update id="InfoUpdate">
	update fct_info set 
					 FCT_NM= #{fctNm}
					,PRC_CD= #{prcCd}
					,FCT_STD= #{fctStd}
					,FCT_MODEL= #{fctModel}
					,COMP_CD= #{compCd}
					,IN_DATE= #{inDate}
					,PURCH_COST= #{purchCost}
					,CHK_PROD= #{chkProd}
					,FCT_IMG= #{FctImg}
					,UPH_PDT_AMT= #{uphPdtAmt}
	where fct_cd= #{fctCd}
</update>
<!-- 삭제 -->
<delete id="deleteFctInfo">
	delete fct_info where fct_cd in <foreach collection="list" item="lists" open="(" close=")" separator=",">#{lists.fctCd}</foreach> 
</delete>	
</mapper>

