<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.fct.info.dao.InfoMapper">
<!-- 작성자 : 박종현 -->

<select id="selectLineNo" resultType="com.onetouch.web.fct.info.dao.LineVO">
	select COUNT(*) as lineCnt from fct_info where line_no = #{lineNO}
</select>
<select id="findFctList" resultType="map">
	select * from fct_info order by fct_cd
</select>
<!-- 라인이 종료 될때 설비상태를 대기로 변경 스케줄러로 항상 변경 -->
<update id="updateEndFctPhs">
	UPDATE fct_info SET fct_phs = '대기' 
	WHERE line_no IN (select line_no from prd_prc_mng where instr_no in  (SELECT M.instr_no from PRD_PRC_MNG M  where M.now_phs = '라인가동종료'
								AND work_fin_dt > to_date(sysdate,'yy-MM-dd')-2)) 
                                AND prc_cd IN (SELECT prc_cd from prd_prc_mng WHERE instr_no IN  (SELECT M.instr_no from PRD_PRC_MNG M  where M.now_phs = '라인가동종료'
								AND work_fin_dt > to_date(sysdate,'yy-MM-dd')-2))
</update>
<!-- 공정이 시작될때 설비상태 가동으로 변경 스케줄러로 항상 변경 -->
<update id="updateStartFctPhs">
	UPDATE fct_info SET fct_phs = '가동' 
	WHERE line_no IN (select line_no from prd_prc_mng where work_str_dt is not null and work_fin_dt is null) 
	AND 
	PRC_CD IN (select prc_cd from prd_prc_mng where work_str_dt is not null and work_fin_dt is null)
</update>

<!-- 설비이름 조회 -->
<select id="selectFctNm" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	select dtl_nm as fctNm from adm_bas_dtl_cd where dtl_cd like '%' || substr(#{fctCd},0,11) || '%'
</select>
<!-- 작업자 조회 -->
<select id="selectEmp" ></select>
<!-- 현재 날자 값 조회 -->
<select id="todayDate" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	SELECT (sysdate-7) as fixFrom, sysdate fixTo   FROM dual
</select>

<!-- 라인 조회-->
<select id="LineSelect" resultType="com.onetouch.web.fct.info.dao.LineVO">
	SELECT * from fct_line 
	<if test='fctLineChek =="Y"'>
		WHERE use_yn = 'Y'
	</if>
</select>
<!-- 라인 등록 -->
<insert id="LineInsert">
	insert into fct_line values(#{lineNO},#{totPdtAmt},#{uphPdtAmt},
	<if test = "useYn ==null or useYn==''">
      'N'	
   </if>
   <if test = 'useYn =="Y"'>
      'Y'
   </if>
   ,#{empNo})
</insert>
<update id="LineUpdate">
	UPDATE fct_line SET TOT_PDT_AMT = #{totPdtAmt}, UPH_PDT_AMT = #{uphPdtAmt}, USE_YN = #{useYn}, EMP_NO = #{empNo} WHERE LINE_NO = #{lineNO}
</update>
<delete id="LineDelete">
	DELETE fct_line where line_no = #{lineNO}
</delete>


<!-- 공정관리VO를 상속받는 설비VO를 리절트 타입으로  -->
<select id="selectprcCd" resultType="com.onetouch.web.fct.info.dao.InfoVO">
select fct_cd , fct_nm , line_no ,prc_cd,(select FN_GET_PRC_CD_TO_NM(prc_cd) from dual) as prc_nm , fct_std FCT_MODEL,COMP_CD,USE_PURP,IN_DATE, PURCH_COST,CHK_PROD,CHK_PROD_UNIT,FCT_PHS,FCT_IMG,UPLOAD_PATH from fct_info where line_no=#{lineNo}
</select>

<!-- 등록 목록조회 -->
<select id="selectFctInfoAll" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	select f.fct_cd, f.fct_nm, f.line_no, f.prc_cd, f.fct_std, f.comp_cd,f.fct_model, f.use_purp, f.in_date, f.purch_cost, f.chk_prod, f.chk_prod_unit, f.fct_phs, f.fct_img, f.upload_path, a.prc_nm as  prcNm
	from fct_info f join adm_prc_mng a 
	    on f.prc_cd = a.prc_cd
	where 1=1
		<if test='checkPrcCd != "d" and checkPrcCd != null'>
			and  substr(f.fct_cd,1,11) = #{checkPrcCd}
		</if>
		<if test="fixTo != null and fixTo != ''">
			<![CDATA[
				AND f.in_date <= #{fixTo}
			]]>
		</if>
		<if test="fixFrom != null and fixFrom != ''">
			<![CDATA[
				AND f.in_date >= #{fixFrom}
			]]>
		</if>
</select>

<!-- 설비코드 조회 -->
<select id="selectCheckFct" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	SELECT fct_cd,fct_nm FROM fct_info
</select>
<!-- 단건조회 -->
<select id="selectFctInfo" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	select * from fct_Info where fct_cd = #{fct_cd}
</select>
<!-- 등록 -->
<insert id="insertFctInfo">
	Insert into FCT_INFO (   FCT_CD
                             ,FCT_NM
                             ,LINE_NO
							 ,PRC_CD
							 ,FCT_STD
							 ,FCT_MODEL
							 ,COMP_CD
							 ,IN_DATE
							 ,PURCH_COST
							 ,CHK_PROD
                             ,CHK_PROD_UNIT
							 ,FCT_IMG
							 ,UPLOAD_PATH
							 ) 
	values (#{fctCd},#{fctNm},#{lineNO},#{prcCd},#{fctStd},#{fctModel},#{compCd},#{inDate},to_number(#{purchCost}),#{chkProd},#{chkProdUnit},#{fctImg},#{uploadPath})
</insert>
<!-- 수정 -->
<update id="InfoUpdate">
	update fct_info set 
					 FCT_NM= #{fctNm}
					,PRC_CD= #{prcCd}
					,FCT_STD= #{fctStd}
					,FCT_MODEL= #{fctModel}
					,IN_DATE= #{inDate}
					,PURCH_COST= #{purchCost}
					,CHK_PROD= #{chkProd}
                    ,CHK_PROD_UNIT = #{chkProdUnit}
					,FCT_IMG= #{fctImg}
					,UPLOAD_PATH= #{uploadPath}
	where fct_cd= #{fctCd}
</update>
<!-- 삭제 -->
<delete id="deleteFctInfo">
	delete fct_info where fct_cd =#{fctCd} 
</delete>	
</mapper>

