<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.fct.dwtm.dao.DwtmMapper">
	<select id="dwtmSelect" resultType="com.onetouch.web.fct.dwtm.dao.DwtmVO">
		SELECT 
			d.dwtm_cd,
			d.fct_cd, 
			substr(to_char(d.str_dt,'yyyy-mm-dd hh24:mi:ss'),12,2) as dwtmStartTime,
			substr(to_char(d.str_dt,'yyyy-mm-dd hh24:mi:ss'),15,2) as dwtmStartMinute,
			substr(to_char(d.fin_dt,'yyyy-mm-dd hh24:mi:ss'),12,2) as dwtmEndTime,  
			substr(to_char(d.fin_dt,'yyyy-mm-dd hh24:mi:ss'),15,2) as dwtmEndMinute,
			d.emp_no, 
			d.msr_mtt,
			d.msr_cmt,
			f.fct_nm,
			d.str_dt,
			d.fin_dt
		FROM fct_dwtm d JOIN fct_info f
		ON d.fct_cd = f.fct_cd
		WHERE 1=1
		<if test='checkPrcCd != "d" and checkPrcCd !=""'>
			AND substr(f.fct_cd,1,11) = #{checkPrcCd}
		</if>
		<if test='proceedCheck == "proceed"'>
			AND d.fin_dt is null
			AND d.str_dt is not null 
		</if>
		<if test='proceedCheck == "done"'>
			AND d.fin_dt is not null
		</if>
		
	</select>
	<insert id="dwtmInsert">
		INSERT  INTO fct_dwtm VALUES(PKG_MAKE_CODE.CODE('DWT','FCT_DWTM','DWTM_CD') , #{fctCd}, to_date(#{strDt},'yy-MM-dd HH24:MI:SS'), '', #{empNo}, #{msrMtt}, '')
	</insert>
	
	<update id="dwtmUpdate">
		UPDATE fct_dwtm SET emp_no = #{empNo}
						, fin_dt = to_date(#{finDt},'yy-MM-dd HH24:MI:SS')
						, msr_mtt = #{msrMtt}
						, msr_cmt = #{msrCmt}
		WHERE dwtm_cd = #{dwtmCd}
	</update>
	<delete id="dwtmDelete">
		DELETE fct_dwtm   
		WHERE dwtm_cd = #{dwtmCd} 
	</delete>
	
</mapper>