<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.pdt.plan.dao.PlanMapper">
<select id="list" resultType="com.onetouch.web.pdt.plan.dao.PlanVO">
	select PLAN_NO,DUE_DATE,ORD_SHT_NO,WORK_PROT,PLAN_DATE from pdt_plan
	
</select>
<select id="selectDtl" resultType="com.onetouch.web.pdt.plan.dao.PlanVO">
	select prd_cd, cnt as need_cnt from pdt_ord_view where ORD_SHT_NO=#{ordShtNo}
</select>
<select id="findPrcCd" resultType="com.onetouch.web.fct.info.dao.InfoVO">
	select a.fct_cd , a.fct_nm , a.prc_cd
	from fct_info a join (select prc_cd from adm_prc_flow where prd_cd=#{prdCd}) b
	on(a.prc_cd = b.prc_cd)
</select>
<insert id="insertPlan">
	<!-- <foreach collection="list" item="alist">
	insert into pdt_plan (PLAN_NO,DUE_DATE,ORD_SHT_NO,WORK_PROT,PLAN_DATE) 
	values(
   PKG_MAKE_CODE.CODE('PPL','pdt_plan','PLAN_NO', 'plan_date')
   ,to_date(#{alist.dueDate},'yyyy-mm-dd HH24:MI:SS')
   ,#{alist.ordShtNo},#{alist.workProt},sysdate
	)     동적쿼리하다감
	</foreach> -->
	insert into pdt_plan (PLAN_NO,DUE_DATE,ORD_SHT_NO,WORK_PROT,PLAN_DATE) 
	values(
   PKG_MAKE_CODE.CODE('PPL','pdt_plan','PLAN_NO', 'plan_date')
   ,to_date(#{dueDate},'yyyy-mm-dd HH24:MI:SS')
   ,#{ordShtNo},#{workProt},sysdate
	)
</insert>
	<delete id="deletePlan">
		delete from pdt_plan where plan_no=#{planNo}	
	</delete>
<!-- 제품명검색해서 로트별 재고보기 -->
<select id="lotCntSelect" resultType="com.onetouch.web.mtr.lot.dao.LotVO">
	select b.mtr_lot as mtrLot ,b.stck_cnt as stckCnt,b.hld_cnt as hldCnt ,b.mtr_cd as mtrCd
    from adm_bom a join mtr_lot_stck b
    on (a.mtr_cd = b.mtr_cd)
    where a.prd_cd=#{prdCd}
</select>	
</mapper>