<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.zzz.dao.MsgAltMapper">

	<select id="selectAll" resultType="com.onetouch.web.zzz.dao.MsgAltVO">
		SELECT msg_no as msgNo, 
			   alt_send_dt as altSendDt, 
			   alt_send_dept as altSendDept, 
		       FN_GET_BAS_DTL_CD_TO_NM(alt_send_dept) as altSendDeptNm,
		       alt_recp_dept as altRecpDept,
		       FN_GET_BAS_DTL_CD_TO_NM(alt_recp_dept) as altRecpDeptNm, 
		       alt_cmt as altCmt, 
		       alt_chk as altChk, 
		       alt_chk_dt as altChkDt 
		FROM msg_alt
	</select>

	<select id="selectDate" resultType="com.onetouch.web.zzz.dao.MsgAltVO">
		SELECT msg_no as msgNo, 
		       alt_send_dt as altSendDt, 
		       alt_send_dept as altSendDept, 
		       FN_GET_BAS_DTL_CD_TO_NM(alt_send_dept) as altSendDeptNm,
		       alt_recp_dept as altRecpDept,
		       FN_GET_BAS_DTL_CD_TO_NM(alt_recp_dept) as altRecpDeptNm, 
		       alt_cmt as altCmt, 
		       alt_chk as altChk, 
		       alt_chk_dt as altChkDt 
		FROM msg_alt 
		WHERE to_char(alt_send_dt, 'yyyy-MM-dd') = #{altSendDt}
	</select>
	
	<select id="selectDept" resultType="com.onetouch.web.zzz.dao.MsgAltVO">
		SELECT * FROM
		(SELECT msg_no as msgNo, 
			   alt_send_dt as altSendDt, 
			   alt_send_dept as altSendDept, 
		       FN_GET_BAS_DTL_CD_TO_NM(alt_send_dept) as altSendDeptNm,
		       alt_recp_dept as altRecpDept,
		       FN_GET_BAS_DTL_CD_TO_NM(alt_recp_dept) as altRecpDeptNm, 
		       alt_cmt as altCmt, 
		       alt_chk as altChk, 
		       alt_chk_dt as altChkDt 
		FROM msg_alt
		WHERE alt_chk = 'N'
		AND alt_recp_dept = #{altRecpDept}
		ORDER BY alt_send_dt desc)
		WHERE rownum = 1
	</select>
	
	<insert id="insert">
		
	</insert>
	
	<update id="updateAltChkY" parameterType="com.onetouch.web.zzz.dao.MsgAltVO" >
		UPDATE msg_alt
		SET alt_chk = 'Y',
			alt_chk_dt = sysdate
		WHERE msg_no = #{msgNo}
	</update>
	
	<delete id="delete">
		DELETE FROM msg_alt
		WHERE msg_no in <foreach collection="list" item="vo" open="(" close=")" separator=",">#{vo.msgNo}</foreach>
	</delete>

</mapper>