<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.fct.fix.dao.FixMapper">
	<select id="fixSelectList" resultType="com.onetouch.web.fct.fix.dao.FixVO">
		SELECT fix_cd,fct_cd, req_dt, str_dt, fin_dt, fix_phs, fix_cmt, cnt, unit_cost, tot_cost FROM fct_fix_mng
		WHERE 1=1
		<if test="fixPhs == '수리요청'">
			 AND fix_phs = #{fixPhs} 
		</if>
		<if test="fixPhs == '수리중'">
			 AND fix_phs = #{fixPhs} 
		</if>
		<if test="fixPhs == '수리완료'">
			 AND fix_phs = #{fixPhs} 
		</if>
	</select>
	
	<delete id="deleteFtc">
		DELETE
		FROM fct_fix_mng
		WHERE fix_cd = #{fixCd}
	</delete>
	
	<update id="updateFtc">
		UPDATE
			fct_fix_mng set
			 <if test="strDt != null">req_dt = sysdate,</if>
			str_dt = sysdate,
			<if test="finDt != null">,fin_dt = #{finDt},</if> 
			<if test="fixCmt != null">fix_cmt = #{fixCmt},</if> 
						   fix_phs = #{fixPhs}
		WHERE fix_cd = #{fixCd}
	</update>
	
	<insert id="insertFtc">
	
	</insert>
</mapper>