<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onetouch.web.pdt.ord.dao.OrdMapper">

<select id="list" resultType="com.onetouch.web.pdt.ord.dao.OrdVO">
	select ord_sht_no , to_char(due_date,'yyyy-MM-dd') due_date , comp_cd , to_char(ord_date,'yyyy-MM-dd') ord_date ,(case when now_phs='Y' then '진행완료' else '진행중' end) now_phs , cmt from pdt_ord_sht
	where 1=1
	<if test="nowPhs =='' or nowPhs==null" >
		And now_phs = 'N'
	</if>
	order by ord_sht_no
</select>
<select id="select" resultType="com.onetouch.web.pdt.ord.dao.OrdVO">
	select ord_sht_no , to_char(due_date,'yyyy-MM-dd') due_date , comp_cd , to_char(ord_date,'yyyy-MM-dd') ord_date , (case when now_phs='Y' then '진행완료' else '진행중' end) now_phs , cmt from pdt_ord_sht where 1=1
	<if test='nowPhs!="" and nowPhs!=null'>
		and now_phs =#{nowPhs}
	</if>
 	<if test='startDate!="" and startDate!=null'>
		and to_char(ord_date,'yyyy-MM-dd')>=#{startDate}
	</if>
 	<if test='endDate!="" and endDate!=null'>
		and #{endDate}>=to_char(ord_date,'yyyy-MM-dd')
	</if>
	order by ord_sht_no
</select>
<update id="ordCheck">
	update pdt_ord_sht set now_phs = 'Y' where ord_sht_no=#{ordShtNo}
</update>
<delete id="delete">
	delete 
	from pdt_ord_sht 
	where ord_sht_no in
	<foreach collection="list" item="vo" open="(" close=")" separator=",">
		#{vo.ordShtNo}
	</foreach>
</delete>
<!-- 주문서조회 -->
<select id="ordShtSelect" resultType="com.onetouch.web.pdt.plan.dao.PlanVO">
	select a.prd_nm prdNm, b.prd_cd prdCd, b.cnt as needCnt
    from adm_prd a join (select prd_cd , cnt ,ord_sht_no 
                            from pdt_ord_sht_dtl) b
    on a.prd_Cd = b.prd_cd
	<if test='ordShtNo!=null and ordShtNo!=""'>
		AND b.ord_sht_no = #{ordShtNo}
	</if>
</select>
<select id="orderSeq" resultType="com.onetouch.web.pdt.ord.dao.OrdVO">
	select
	PKG_MAKE_CODE.CODE('POR','pdt_ord_sht','ord_sht_no') as ordShtNo from
	dual
</select>

</mapper>