.datepicker:focus,
.selectoption:focus {
	box-shadow: none !important;
	outline: none; 
}

.datepicker, .selectoption, .inputtext{
	color: #495057;
	background-color: #fdfdff;
	border: 1px solid #ced4da;
  	border-color: #e4e6fc; 
  	border-radius: 3px;
	height: 34px;
	width: 200px;
}

.datepicker:focus,
.selectoption:focus,
.inputtext:focus {
	background-color: #fefeff;
	border-color: #95a0f4;
}

.schCondLabel{
	min-height: 18px;
    font-size: 0.875rem;
    line-height: 1.5;
}

.floatrightbtn{
	float: right;
	margin-bottom:5px !important;
	margin-top: -5px !important;
}
.floatright{
	float: right;
}
.newalign{
	margin-right:0.2rem !important;
	margin-left:0.2rem !important;
	margin-bottom: 0.3rem !important;
}
.newalign2{
	margin-right:0.2rem !important;
	margin-left:0.2rem !important;
	margin-bottom: -5px !important;
}
.cardtitle{
	hegith: 50px;
}
.cardtitleh4{
	margin-bottom: 0rem !important;
}
.row{
	margin-bottom: -15px;
}
.minibtn{
	padding: 7px 7px 7px 7px !important;
	border-radius: 8px !important;
	background-color: #7DA0FA !important;
	border-color: #7DA0FA !important;
}
.gridtitle{
	margin-top: 12px !important;
	margin-bottom: -5px !important;
	display: inline-block !important;
}